.header {
    position: sticky;
    top: 0;
    height: 56px;
    z-index: 999;
}

@media screen and (max-width:992px) {
    #basic-navbar-nav {
        position: absolute;
        top: 56px;
        right: 0;
        min-width: 180px;
        background-color: #2B3035;
        border: 1px solid #495057;
        border-radius: 10px;
    }

    #basic-navbar-nav .navbar-nav .nav-link {
        border-bottom: 1px solid #8f8f8f;
        border-radius: 10px;
        margin: 0.2em;
    }

    #basic-navbar-nav .navbar-nav .nav-link:hover {
        background-color: #8f8f8f;
    }

    .navbar-toggler:hover {
        background-color: #8f8f8f;
    }
}
