.accueil {
    border: 3px solid #d8d8d8;
    border-radius: 20px;
    padding: 2em;
  }

  .logo {
    height: 6em;
    width: auto;
    will-change: filter;
    transition: filter 1000ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #de0a00);
    
  }
  
  @keyframes logo-zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.08);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: 1.5s infinite alternate-reverse logo-zoom;
    }
  }
  
    